{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.{json,md,yml,yaml}",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
